<div class="dropdown mx-3">
    <a class="btn btn-secondary" href="<%= cart_show_path%>">
        <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="<%= cart_show_path%>">Mi carrito</a></li>
        <li><a class="dropdown-item" href="#">Eliminar carrito</a></li>
    </ul>
</div>